version: '3.8'

services:
  app:
    build: .
    container_name: sim-olive-api:3
    restart: always
    ports:
      - '3030:3030'
    volumes:
      - ./uploads:/app/uploads
    depends_on:
      - mongo
    environment:
      MONGO_URI: mongodb://mongo:27017/booknest
      NODE_ENV: dev

  mongo:
    image: mongo:5
    container_name: mongo
    restart: always
    ports:
      - '27017:27017'
    volumes:
      - mongo-data:/data/db

volumes:
  mongo-data:
